@model FusionPosModels.EntityModels.Outlet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Deatils of an Outlet</h3>
    </div>
    <div class="box-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Organization.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Organization.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Code)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Code)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ContactNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ContactNo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>


